version: '3.8'

services:
  # Type 1: Database
  database:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root@12345
      MYSQL_DATABASE: project_db
      TZ: Asia/Kuala_Lumpur
    command: --default-time-zone='+08:00'
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql # Init script
      - db_data:/var/lib/mysql # Persistent storage for data
    healthcheck:
      # Ensures the server won't start until the DB is truly ready for connections
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
      start_period: 30s
    
  # Type 2: C Socket Server
  c-server:
    build: ./c-server
    container_name: c_socket_server
    # Map the internal port (5000) to the host port for external testing
    ports:
      - "5000:5000" 
    depends_on:
      # CRITICAL: Wait for the DB to be healthy, not just started
      database:
        condition: service_healthy
    environment:
      # Pass config to your application code
      DB_HOST: database
      SERVER_PORT: 5000

  # Type 3: Python Socket Server
  python-server:
    build: ./python-server
    container_name: python_socket_server
    ports:
      - "5001:5001" 
    depends_on:
      database:
        condition: service_healthy
    environment:
      DB_HOST: database
      SERVER_PORT: 5001

   # Type 4: Python Socket Server - 2
  python-server-2:
    build: ./python-server-2
    container_name: python_socket_server-2
    ports:
      - "5002:5002" 
    depends_on:
      database:
        condition: service_healthy
    environment:
      DB_HOST: database
      SERVER_PORT: 5002
      
  # Type 5: C Socket Client
  c-client:
    build: ./c-client
    container_name: c_socket_client
    command: ./client
    # The client doesn't need to publish ports
    depends_on:
      # Wait for the server to start
      c-server:
        condition: service_started
    environment:
      TARGET_HOST: c-server # Connect to the C server's service name
      TARGET_PORT: 5000

  # Type 6: Python Socket Client
  python-client:
    build: ./python-client
    container_name: python_socket_client
    command: python client.py
    depends_on:
      python-server:
        condition: service_started
    environment:
      TARGET_HOST: python-server # Connect to the Python server's service name
      TARGET_PORT: 5001
  
   # Type 7: Python Socket Client
  python-client-2:
    build: ./python-client-2
    container_name: python_socket_client-2
    command: python client.py
    depends_on:
      python-server:
        condition: service_started
    environment:
      TARGET_HOST: python-server-2 # Connect to the Python server's service name
      TARGET_PORT: 5002
      
# Volume definition for persistent data storage
volumes:
  db_data: